/*************Projet Stage 2021*************/

#match {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 70vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#matchs {
    z-index: 2;
    position: absolute;
    margin-top: 57vh;
    margin-left: 15%;
}

#dante {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 10%;
    width: 40%;
    margin-top: 180vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#dante\'s {
    z-index: 2;
    width: 50%;
    position: absolute;
    margin-top: 180vh;
    margin-left: 55%;
}