/*************Projet Stage 2021*************/

#match {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 70vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#matchs {
    z-index: 2;
    position: absolute;
    margin-top: 57vh;
    margin-left: 15%;
}

#dante {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 5%;
    width: 40%;
    margin-top: 180vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#dante\'s {
    z-index: 2;
    width: 50%;
    position: absolute;
    margin-top: 180vh;
    margin-left: 50%;
}

#bsq\ txt {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 5%;
    width: 40%;
    margin-top: 260vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#bsq\ image {
    z-index: 2;
    width: 15%;
    position: absolute;
    margin-top: 260vh;
    margin-left: 60%;
}

#video {
    z-index: 2;
    width: 40%;
    position: absolute;
    margin-top: 360vh;
    margin-left: 60%;
}

#sokoban\ txt {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 5%;
    width: 40%;
    margin-top: 360vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

@media screen and (max-width: 415px) {
    #match {
        border-radius: 15px;
        overflow: hidden;
        background: rgba(104,112,116,0.83);
        margin-left: 42%;
        margin-top: 60vh;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
        color: black;
    }

    #matchs {
        z-index: 2;
        width: 30%;
        position: absolute;
        margin-top: 60vh;
        margin-left: 5%;
    }

    #dante {
        border-radius: 15px;
        overflow: hidden;
        background: rgba(104,112,116,0.83);
        margin-left: 5%;
        width: 85%;
        margin-top: 125vh;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
        color: black;
    }

    #dante\'s {
        z-index: 2;
        width: 90%;
        position: absolute;
        margin-top: 150vh;
        margin-left: 5%;
    }

    #bsq\ txt {
        border-radius: 15px;
        overflow: hidden;
        background: rgba(104,112,116,0.83);
        margin-left: 5%;
        width: 40%;
        margin-top: 195vh;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
        color: black;
    }

    #bsq\ image {
        z-index: 2;
        width: 30%;
        position: absolute;
        margin-top: 195vh;
        margin-left: 60%;
    }

    #video {
        z-index: 2;
        width: 40%;
        position: absolute;
        margin-top: 368vh;
        margin-left: 60%;
    }

    #sokoban\ txt {
        border-radius: 15px;
        overflow: hidden;
        background: rgba(104,112,116,0.83);
        margin-left: 5%;
        width: 40%;
        margin-top: 250vh;
        padding: 10px;
        font-size: 15px;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
        color: black;
    }
}