/*************Projet Stage 2021*************/

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: url("assets/fd.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
}

#fd {
    background-repeat: repeat-y;
    position: absolute;
    margin-top: 250px;
    width: 100%;
    z-index: 0;
}

#btn_hire {
    position: absolute;
    margin-left: 3%;
    z-index: 4;
    margin-top: 1vh;
}

#présentation {
    z-index: 2;
    position: absolute;
    color: white;
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    font-size: 25pt;
}

#first_project {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 50vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#dante\'s\ star {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 160vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#BSQ {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 240vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}

#SOKOBAN {
    border-radius: 15px;
    overflow: hidden;
    background: rgba(104,112,116,0.83);
    margin-left: 42%;
    margin-top: 340vh;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    border: 2px solid #565859;
    z-index: 2;
    color: black;
}


#banner {
    margin-top: 0;
    border: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    height: 45%;
    z-index: 1;
}

@media screen and (max-width: 1025px) {

    #fd {
        position: absolute;
        width: 100%;
    }

    #banner {
        margin-top: 0;
        border: none;
        padding-left: 0;
        position: absolute;
        height: 45%;
        z-index: 1;
    }

    #présentation {
        z-index: 2;
        position: absolute;
        color: white;
        width: 60%;
        margin-left: 30%;
        margin-top: 20px;
        font-size: 200%;
    }

    #first_project {
        border-radius: 15px;
        margin-left: 35%;
        margin-top: 50vh;
        width: 150px;
        background: rgba(104,112,116,0.83);
        padding: 10px;
        font-size: 15pt;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
    }
}

@media screen and (max-width: 415px) {
    #présentation {
        z-index: 2;
        position: absolute;
        color: white;
        margin-left: 32%;
        margin-top: 10px;
        width: 60%;
        font-size: 13pt;
    }

    #banner {
        border: none;
        position: absolute;
        width: 100%;
        height: 250px;
        z-index: 1;
    }

    #first_project {
        border-radius: 15px;
        margin-left: 30%;
        margin-top: 40vh;
        width: 40%;
        background: rgba(104,112,116,0.83);
        padding: 10px;
        font-size: 130%;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
    }
    #dante\'s\ star {
        border-radius: 15px;
        margin-left: 30%;
        margin-top: 110vh;
        width: 40%;
        background: rgba(104,112,116,0.83);
        padding: 10px;
        font-size: 130%;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
    }

    #BSQ {
        border-radius: 15px;
        margin-left: 30%;
        margin-top: 175vh;
        width: 40%;
        background: rgba(104,112,116,0.83);
        padding: 10px;
        font-size: 130%;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
    }

    #SOKOBAN {
        border-radius: 15px;
        margin-left: 30%;
        margin-top: 233vh;
        width: 40%;
        background: rgba(104,112,116,0.83);
        padding: 10px;
        font-size: 130%;
        text-align: center;
        position: absolute;
        border: 2px solid #565859;
        z-index: 2;
    }
}



